*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog
VERSION
NEWS
TODO
AUTHORS

configure
configure.ac
config.log
config.status

src/fcp
src/fcp2dot
src/config.h
src/config.h.in
src/stamp-h1

src/gnulib/sys/stat.h
src/gnulib/alloca.h
src/gnulib/charset.alias
src/gnulib/configmake.h
src/gnulib/ref-add.sed
src/gnulib/ref-del.sed
src/gnulib/stdlib.h
src/gnulib/unistd.h

tools/autotools/link-warning.h

tools/maint/fetch
tools/maint/whitespace-detect
tools/maint/gitlog-to-committers
tools/maint/gittag-to-date

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex
tools/autotools/compile
tools/autotools/depcomp
tools/autotools/config.guess
tools/autotools/config.sub

tests/defs
tests/testSubDir-*
tests/test-fail
tests/test-success
tests/test-debug
tests/test-verbose
tests/test-dump-01
tests/test-transformation-01
tests/test-parse-01
tests/test-parse-02
tests/test-parse-03
tests/test-parse-04
tests/test-rules-01
tests/test-rules-02
tests/test-execution-01
tests/test-execution-02
tests/test-execution-03
tests/test-execution-04
tests/test-execution-05
tests/test-execution-06
tests/test-hint-01
tests/test-multiline-01
tests/test-antiloop-01
tests/test-multipath-01
tests/test-samefile-01
tests/test-include-01
tests/test-include-02

docs/man/fcp.1
docs/info/fcp.info

site/in/.sitetool
site/in/site.stamp
site/in/todos.sxml
site/in/todos.dump
site/in/news.sxml
site/in/news.dump
site/out/*
